<article class="pink <%= @tumble.content_type %>">
  <aside class="post-type-author">
    <ul>
      <li><a class="post-icon" href="#"><span class="entypo">&nbsp;</span></a></li>
      <li><span class="arrow left">&nbsp;</span></li>
      <li><a href="#" class="avatar"><%= image_tag('avatar.jpg', alt: 'Avatar', class: 'avatar') %></a></li>
    </ul>
  </aside>
  <section>
    <header>
      <h1><%= link_to @tumble.title, tumble_path(@tumble) %></h1>
      <h6>by <a href="#"><%= @tumble.user.blog_name %></a> | <%= format_date(@tumble.date, '%B %d, %Y') %></h6>
    </header>
    <% if @tumble.content_type == 'photo' %>
      <p><%= image_tag(YAML::load(@tumble.content)[0]["original_size"].url) %>
    <% else %>
      <p><%= raw @tumble.content %></p>
    <% end %>
    <ul class="tags">
      <% @tumble.tag_list.each do |tag| %>
        <li><a href="<%= tag_path(tag) %>"><span class="start"><em>&nbsp;</em></span><%= tag %><span class="end"><em>&nbsp;</em></span></a></li>
      <% end %>
    </ul>
    <ul class="share">
      <li><a href="#">Share</a></li>
      <li><a href="#">Back to Top</a></li>
    </ul>
    <section id="author-vcard">
      <img src="/images/author-pic.jpg" alt="Author" />
      <aside>
        <header>
          <h1><%= @tumble.user.blog_name %></h1>
          <h3><%= @tumble.user.description %></h3>
        </header>
        <p>Justin is the Senior Creative Developer at Norex. He is a self described font savant, HTML5 and CSS3 guru, gamer and dabbler in all things creative.</p>
      </aside>
    </section><!--END AUTHOR VCARD-->
    <ul class="pagination">
      <li><a href="#">« Previous Post</a></li>
      <li><a href="#">Next Post »</a></li>
    </ul>
  </section>
</article>