<section id="main-sidebar"> 
  <div class="container">
    <div class="block" id="main-nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Norex</a></li>
        <li><a href="#">Case Studies</a></li>
        <li><a href="#">Our Team</a></li>
        <li><a href="#" class="orange">Norex.ca</a></li>
        <li><a href="#" class="twitter">@sitebynorex</a></li>
      </ul>
      <a href="#main-nav" id="main-nav-btn" class="menu-icon"><span class="entypo menu">i</span></a>
    </div>
    <div class="block center">
      <a href="/"><%= image_tag('logo.png', alt: 'The Society of Online Engineers') %></a>
    </div>
    <div class="block search">
      <%= form_tag search_path, :method => 'get' do %>
        <p>
          <%= text_field_tag 'query', nil, :placeholder => 'Search...' %>
        </p>
      <% end %>
    </div>
    <%= render 'shared/types_block' %>
    <%= render 'shared/tags_block' %>
  </div>
</section>