<!DOCTYPE html>
<html>
<head>
  <title><%= (yield(:title) + " | " unless yield(:title).blank?).to_s + "Norex Blog" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="super-container">
    <%= render 'shared/sidebar' %>
    <%# debug(params) %>
    <aside id="main-content">
      <%= render 'shared/loader' %>
      <div id="posts">
        <%= yield %>
      </div>
    </aside>
  </div>
</body>
</html>
